<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки Бид-Менеджера Авито</title>
</head>
<body>
    <h1>Настройки Бид-Менеджера Авито</h1>
    <form action="/update-settings" method="post">
        <label>Ссылка на объявление:<br>
            <input type="text" name="ad_link" required>
        </label><br><br>
        <label>Ссылка на выдачу:<br>
            <input type="text" name="search_link" required>
        </label><br><br>
        <label>Нижняя граница позиции:<br>
            <input type="number" name="lower_range" value="1" required>
        </label><br><br>
        <label>Верхняя граница позиции:<br>
            <input type="number" name="upper_range" value="10" required>
        </label><br><br>
        <label>Шаг изменения ставки:<br>
            <input type="number" step="0.1" name="bid_step" value="10" required>
        </label><br><br>
        <label>avito_user_id:<br>
            <input type="text" name="avito_user_id" required>
        </label><br><br>
        <label>client_id:<br>
            <input type="text" name="client_id" required>
        </label><br><br>
        <label>client_server (токен):<br>
            <input type="text" name="client_server" required>
        </label><br><br>
        <label>Текущая ставка:<br>
            <input type="number" step="0.1" name="current_bid" value="0" required>
        </label><br><br>
        <button type="submit">Сохранить настройки</button>
    </form>
</body>
</html>
